* {
    all: unset;
    font-weight: bold;
    font-family: 'SF Pro', 'SF Mono Nerd Font';
}

$background: rgba(0, 0, 0, 0.7);
$background-overlay: rgba(20, 20, 20, 0.9);
$foreground: rgba(255, 255, 255, 1);
$inactive: rgba(255, 255, 255, 0.5);

.bar {
    padding: 0.4rem 1rem;
    background-color: transparent;
    color: $foreground;
}

.active_window {
  background-color: $background;
  border-radius: 15px;
  padding: 5px 10px;
  min-width: 200px;
  max-width: 200px;
  align-items: flex-start;
  justify-content: flex-start;
}

.window_app {
  font-size: 11px;
  max-width: 200px;
}

.window_title {
  font-size: 13px;
  max-width: 200px;
}

.workspaces {
  background-color: $background;
  border-radius: 15px;
  padding: 5px 10px;
}

.bubble-group {
  background-color: $background-overlay;
  border-radius: 10px;
  padding: 5px 10px;
}

.bubble {
  background-color: #2e3440;
  border-radius: 10px;
  min-width: 12px;
  min-height: 12px;
  box-shadow: none;
}


.bubble.active {
  background-color: #88c0d0;
  border-radius: 10px;
  min-width: 12px;
  min-height: 12px;
  box-shadow: 0 0 4px rgba(255,255,255,0.5);
}

.right_widgets {
  background-color: $background;
  border-radius: 15px;
  padding: 5px 10px;
}

.tray {
  background-color: $background-overlay;
  border-radius: 10px;
  padding: 5px 10px;
}

popover.menu {
    contents {
        background-color: $background;
        padding: 2px;
        border-radius: 10px;
        modelbutton {
            transition: 0.3s;
            border-radius: 0.5rem;
            padding: 0.25rem 1rem;
        }
        modelbutton:hover {
            background-color: mix($background, $inactive, 80%);
        }
        separator {
            background-color: mix($background, $inactive, 90%);
            min-height: 0.1rem;
            margin: 0.5rem 0;
        }

        label:disabled {
            color: $inactive;
        }

        arrow {
            opacity: 0.3;

            &:hover { background: none; }

            &.left { -gtk-icon-source: -gtk-icontheme("go-previous-symbolic"); }

            &.right { -gtk-icon-source: -gtk-icontheme("go-next-symbolic"); }
          }

    }
}

.clock {
  background-color: $background-overlay;
  border-radius: 10px;
  padding: 5px 10px;
}
